body {
  background: #eee;
}
.field-row {
    height: 100px;
    clear: both;
}
.disabled {
    background-color: #cacaca;
}

.row {
    margin: 50px auto;
    width: 306px;
    height: 306px;
    background-color: #fafafa;
    border: 3px solid black;
    border-radius: 5px;
}
/* common styles for all cells */
.field-cell {
    float:left;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    width: 100px;
    height: 100px;
    transition: all 0.3 ease;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
}
.field-cell.x {
    background-image: url('/images/cross.png');
    cursor: auto;
}
.field-cell.o {
    background-image: url('/images/nought.png');
    cursor: auto;
}
.field-cell:hover {
    background-color: #eee;
}
/* style for last cell in a row */
.field-cell:nth-child(3n+1) {
    clear: both;
    border-right: 1px solid black;
}
/* style for first two columns of cells */
.field-cell:nth-child(3n+2) {
    border-right: 1px solid black;
}
/* style for last two rows of cells */
.field-cell:nth-child(1n+4) {
    border-top: 1px solid black;
}
